/* ConteudoPaginaFormulario.css */

.campo-anexos-custom {
  display: flex;
  cursor: pointer;
  padding: 0.15rem 1.5rem;
  width: auto;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .campo-anexos-custom {
    padding: 0;
    justify-content: flex-start;
  }

  .botao-texto {
    padding: 0.375rem 0.75rem;
    border-right: 1px solid var(--bs-primary);
  }

  .arquivo-texto {
    padding: 0.375rem 0.75rem;
    color: #212529;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}